In [81]:
#! /usr/bin/python3

import pandas as pd
import numpy as np
import matplotlib
import discord
import reportlab
import requests
import json

In [148]:
def nmpy():
    for _ in range(100):
        print("*",end='')
    print('')   
    print("[+] New section uses of numpy :: For data science : ")
    a = np.array([[1,2],[3,4]])
    a2 = np.array([1,2,3,4,6,5,7,8,9],ndmin=2,dtype=complex)
    print(a)
    print(a2)

    
def pands():
    # pandas handles data through Series, Data Frame and Panel
    # Pandas Series (This is an one dimensional lebeled array)
    # pandas.Series(data,index,dtype,copy)
    data = np.array(['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z'])
    s = pd.Series(data)
    print(s)
    # Data Frame ==> This is an two dimensional data structure
    # pandas.DataFrame(data,index,column,dtype,copy)
    data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
    df = pd.DataFrame(data, index=['rank1','rank2','rank3','rank4'])
    print(df)
    
    # Pandas Panel
    # A panel is a 3D container of data. The term Panel data is derived from econometrics and is partially responsible for the name pandas âˆ’ pan(el)-da(ta)-s.
    # panas.Panel(data,items,major_axis,minor_axis,dtype,copy)
    
    df.plot.box(grid='True')

def DataCleansing():
    for _ in range(100):
        print("*",end='')
    print('')
    print("Data Cleansing")
    df = pd.DataFrame(np.random.randn(5,3),index=['a', 'c', 'e', 'f',
'h'],columns=['one','two','three'])
    print(df)
    print('\n\n')
    df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
    print(df)
    print(df['one'].isnull())
    
    # cleaning/filling missing data
    print("NaN replaced with '0':")
    print(df.fillna(0))
    # We can fill NA forward and backward
    print(df.fillna(method='pad')) # fill forward
    print(df.fillna(method='bfill')) # fill backward
    
    # excluding or dropping the infected/NAN row
    print(df.dropna())
    
    # replacing missing or Generic values
     # Many times , we have to replace a generic value iwth some specifi
     # value. We can achieve this by applying the replace method
    dat = pd.DataFrame({'one':[10,20,30,40,50,2000],'two':[1000,0,30,40,50,60]},index=['A','B','C','D','E','F'])
    print(dat.replace({1000:10,2000:60}))
    
def main():
    url = "https://www.googleapis.com/youtube/v3/channels?id=UCyQSAi4Xh5ZQKpMPLEUPSrA&key=AIzaSyBYzmjpQYOb15ueTx3-Y2QcgI8_21Xlhr0&part=snippet,statistics&fields=items(id,snippet,statistics)"
    print("Hello world")
    re = requests.get(url)
   # reParsed = json.loads(re.text)
    a = np.array([[1, 2], [3, 4]]) 
    data = {'Item1' : pd.DataFrame(np.random.randn(4, 3)), 
        'Item2' : pd.DataFrame(np.random.randn(4, 2))}
    
    df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f',
    'h'],columns=['one', 'two', 'three'])
    df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
    print(df)
    print(type(df))
    print(type(re))
    #print(reParsed['items'][0]['id'])
    
def csvData():
    # Processing csv data
    for _ in range(50):
        print("x",end='')
    print('')
    print("[+] Processing the csv data")
    data = pd.read_csv('input.csv')
    print(data)
    # Slice the result for first 5 rows
    print(data[0:5]['salary'])
    # reading specific column using multiaxes indexing method .loc()
    print(data.loc[:,['salary','name']])

In [149]:
if __name__ == "__main__":
    # main() # executing the main method
    # nmpy()
    # pands()
    DataCleansing()
    csvData()

****************************************************************************************************
Data Cleansing
        one       two     three
a -0.510958  0.960148  0.695682
c  0.765527 -0.271626 -1.911211
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
h -0.681748  1.837074 -0.584179



        one       two     three
a -0.510958  0.960148  0.695682
b       NaN       NaN       NaN
c  0.765527 -0.271626 -1.911211
d       NaN       NaN       NaN
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
g       NaN       NaN       NaN
h -0.681748  1.837074 -0.584179
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
NaN replaced with '0':
        one       two     three
a -0.510958  0.960148  0.695682
b  0.000000  0.000000  0.000000
c  0.765527 -0.271626 -1.911211
d  0.000000  0.000000  0.000000
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
g  0.000000  0.000000  0.000000
h -0.681748  1.837074 -0.584179
        one       two     three
a -0.510958  0.960148  0.695682
b -0.510958  0.960148  0.695682
c  0.765527 -0.271626 -1.911211
d  0.765527 -0.271626 -1.911211
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
g -1.474057 -1.046813  1.886132
h -0.681748  1.837074 -0.584179
        one       two     three
a -0.510958  0.960148  0.695682
b  0.765527 -0.271626 -1.911211
c  0.765527 -0.271626 -1.911211
d -0.043824 -0.522235  1.714740
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
g -0.681748  1.837074 -0.584179
h -0.681748  1.837074 -0.584179
        one       two     three
a -0.510958  0.960148  0.695682
c  0.765527 -0.271626 -1.911211
e -0.043824 -0.522235  1.714740
f -1.474057 -1.046813  1.886132
h -0.681748  1.837074 -0.584179
   one  two
A   10   10
B   20    0
C   30   30
D   40   40
E   50   50
F   60   60
xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
[+] Processing the csv data
   id    name  salary  start_date        dept
0   1    Rick  623.30  2012-01-01          IT
1   2     Dan  515.20  2013-09-23  Operations
2   3   Tusar  611.00  2014-11-15          IT
3   4    Ryan  729.00  2014-05-11          HR
4   5    Gary  843.25  2015-03-27     Finance
5   6   Rasmi  578.00  2013-05-21          IT
6   7  Pranab  632.80  2013-07-30  Operations
7   8    Guru  722.50  2014-06-17     Finance
0    623.30
1    515.20
2    611.00
3    729.00
4    843.25
Name: salary, dtype: float64
   salary    name
0  623.30    Rick
1  515.20     Dan
2  611.00   Tusar
3  729.00    Ryan
4  843.25    Gary
5  578.00   Rasmi
6  632.80  Pranab
7  722.50    Guru